:root {
  /* SKIN UNITS */
  --unit-base: .25em;
  --unit-2xs: var(--unit-base);
  --unit-xs: calc( var(--unit-base) * 2);
  --unit-sm: calc( var(--unit-base) * 3);
  --unit-md: calc( var(--unit-base) * 4);
  --unit-lg: calc( var(--unit-base) * 5);
  --unit-xl: calc( var(--unit-base) * 6);
  --unit-2xl: calc( var(--unit-base) * 7);
  --unit-3xl: calc( var(--unit-base) * 8);
  --unit-4xl: calc( var(--unit-base) * 9);
  --unit-5xl: calc( var(--unit-base) * 10);
  --unit-6xl: calc( var(--unit-base) * 11);
  --unit-7xl: calc( var(--unit-base) * 12);
  --unit-9xl: calc( var(--unit-base) * 13);
  --unit-10xl: calc( var(--unit-base) * 14);

  /* COLORS SCHEME */
  --color-gray-0: #ffffff;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
  --color-gray-950: #030712;

  --color-sky-100: #e0f2fe;
  --color-sky-200: #bae6fd;
  --color-sky-300:#7dd3fc;
  --color-sky-400:#38bdf8;
  --color-sky-500:#0ea5e9;
  --color-sky-600:#0284c7;
  --color-sky-700:#0369a1;
  --color-sky-800:#075985;
  --color-sky-900:#0c4a6e;
  --color-sky-950:#082f49;

  /* BREAK POINTS */
  --screen-xs: 480px;
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;

  /* GENERAL STYLES */
  --font-size-base: 16px;
  --font-size-small: var(--unit-sm);
  --font-color: var(--color-gray-700);
  --font-secondary-color: var(--color-gray-500);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --base-border-radius: var(--unit-xs);
  --base-border-color: var(--color-gray-300);

  /* Buttons */
  --button-bg: var(--color-sky-500);
  --button-hover-bg: var(--color-sky-600);
  --button-border-color: var(--button-bg);
  --button-text-color: var(--color-gray-0);
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  color: var(--font-color);
}

.secondary-text {
  color: var(--font-secondary-color);
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: var(--color-sky-500);
  text-decoration: inherit;
}

a:hover {
  color: var(--color-sky-600);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-gray-700);
}

h1 {
  font-size: var(--unit-2xl);
  line-height: 1.2;
}

/* Mixins */
.width-100 {
  width: 100%;
}
.md-hidden {

}

/* Tables */
.table {
  display: table;
}
.table-row {
  display: table-row;
}
.table-row:hover {
  background-color: var(--color-gray-50);
}
.table-cell,
.table-head-cell {
  display: table-cell;
  border-bottom: 1px solid var(--base-border-color);
  padding: var(--unit-md) var(--unit-xs);
}
@media (min-width: 640px) {
  .table-cell,
  .table-head-cell {
    padding-left: var(--unit-sm);
    padding-right: var(--unit-sm);
  }
}
@media (min-width: 768px) {
  .table-cell,
  .table-head-cell {
    padding-left: var(--unit-md);
    padding-right: var(--unit-md);
  }
}
.table-head-cell {
  background-color: var(--color-gray-100);
  font-weight: 700;
}

/* FORMS */
input[type=text],
input[type=email],
input[type=number],
input[type=password],
select {
  border: var(--base-border-color) solid 1px;
  height: var(--unit-6xl);
  border-radius: var(--base-border-radius);
  padding: 0 var(--unit-md);
}

select {
  background-image: url("shared/assets/arrow.svg");
  background-position: right 6px top 50%;
  background-repeat: no-repeat;
  padding-right: var(--unit-4xl);
  appearance: none;
  -webkit-appearance: none;
}

button {
  cursor: pointer;
  border-radius: var(--base-border-radius);
  border: var(--button-border-color) 1px solid;
  background-color: var(--button-bg);
  color: var(--button-text-color);
  font-size: 16px;
  line-height: 1.5;
  padding: var(--unit-2xs) var(--unit-sm);
}
button:hover {
  background-color: var(--button-hover-bg);
  border-color: var(--button-hover-bg);
}